{% extends 'base.html'%}
{% block title %}تغيير كلمة المرور{% endblock %}
{% block body %}

<section class="page-section" style='margin-top:100px; margin-bottom:200px'>
    <div class="container">
        <div class="col-md-6 mx-auto shadow p-4">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-success my-2">حفظ</button>
            </form>
    </div>
    </div>
</section>
{% endblock %}