/* Body */

body {
  font-family: 'Tajawal', sans-serif;
  margin:0;
  padding:0;
  height:100%;
}

a {
  text-decoration: none;
}

/* Home */

.color-top {
  background-color: #fff;
}

.header-background {
  background-image: linear-gradient(to left, #ffdf6b, #2aa499);
} 


.color-top-bis {
  background-image: linear-gradient(to left, #ffdf6b, #2aa499);
}

.page-section-no-padding input,
textarea {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-section-no-padding button {
  border-radius: 0;
}

@media (max-width: 500px) {
  .hero-header .intro-text .intro-heading {
    font-size: 30px;
  }
}

.hero-header a {
  background-color: #fff;
  border: none;
  width: 150px;
  border-radius: 60px;
  margin-right: 40px;
  margin-left: 40px;
}

@media (max-width: 503px) {
  .hero-header a {
    width: 120px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
}


@media (max-width: 500px) {
  .intro .title-section {
    font-size: 30px;
    margin-bottom: 50px;
  }
}

/* Competitions */

.comp .card {
  border: 0;
  border-bottom:solid #2aa499 ;
  border-top:solid #FFDF6B  ;
  border-radius: 0;
}

.comp a {
  border-radius: 0;
}

.container {
  direction: rtl;
}

.star {
  position: absolute;
  left: 20px;
  top: 20px;
}


.comp h5 {
  text-align: center;
  color: #2aa499;
}

.comp .col-md-6 {
  margin: auto;
}

.comp .icon-fire {
  position: absolute;
  top: 21px;
  left: 25px;
  color: #ff0000;
}

.comp a {
  margin-top: 20px;
}

/* Ques */

.ques {
  margin-top: 90px;
  
}

.ques .card {
  border-radius: 0px;
}

/* Alert */
/* .alert {

} */

/* Login */

.login .form-control {
  border-radius: 0;
}

.login .col-md-6 {
  margin: auto;
}

.login .card {
  border-radius: 0;
}

.login p {
  text-align: center;
}

.login button {
  border-radius: 0;
}

.login label {
	float: right;
}


/* Signup */

.signup .form-control {
  border-radius: 0;
}


.signup .col-md-6 {
  margin: auto;
}

.signup .card {
  border-radius: 0;

}

.signup p {
  text-align: center;
}

.signup button {
  border-radius: 0;
}

.signup label {
	float: right;
}


/* Program */

.prog-index {
  padding: 50px 0;
}

.prog-index h5 {
  text-align: center;
  color: #2aa499;
}

.prog-index p {
  color: #333;
}

.prog-index img {
  border-radius: 20px;
}

.prog-index .card {
  border: 0;
}

.prog {
  padding: 170px 0;
}

.prog .card {
  border: 0;
}

.prog img{
  border-radius: 20px;
}


.prog h5 {
  text-align: center;
  color: #2aa499;
}

.prog p {
  color: #333;
}

/* Success Partners */





/* Team Work */

.team-work {
  padding: 50px;
  display: flex;
}

.team-work img {
  padding: 70px;
  border-radius: 200px;
}

.team-work .img2 {
  margin-bottom: 51px;
  margin-top: 10px;
}

/* Blog Right Sidebar */

.widget h4 {
  color: #2aa499;
}

.page-header-blog {
  background-image: linear-gradient(to left, #ffdf6b, #2aa499);
  margin: 70px 0 35px 0;
  min-height: 50px;
  padding: 20px 0;
  text-align: right;
}


@media (min-width: 768px) {
  .page-header-blog {
    margin: 95px 0 35px 0;
  }
}


.page-header-blog h1 {
  color: #fff;
  font-weight: 600;
  margin: 0 0 -25px;
  font-size: 36px;
  padding: 0 0 17px;
}

@media (max-width: 479px){
  .page-header-blog h1 {
    font-size: 20px;
  }
}

.pagination .page-item a:hover {
  color: #000;
}

/* News */


.news-con {
  border-left: solid #FFDF6B;
  border-right: solid #2aa499;

}


@media (max-width: 500px) {
  .slide-news {
    margin-top: -45px;
  }
}
  /* Index */

.news .art {
	height: 510px;
}

.news {
  border-radius: 20px;
}

/* Base */

.user-logo .user-img {
  border-radius: 40px;
}

.user-logo img {
  width: 40px;
}


/* Change Password */


.ch-pass {
  margin-top: 50px;
}


/* Account */

.acc .card {
  background-color: none;
  border: none;
}


.acc span {
  color:#000;
  font-size: 20px;
}


.acc .list-ans .list-ans-acc {
  display: none ;
  opacity: 0; 
  animation: fadeIn .3s  linear  forwards; 
}

.acc .list-ans svg {
  color: #5cb85c;
}



/* توسيط العنصر */
/* .acc img {
  margin: auto;
  display: block;
} */


/* ad_con_mana */
.ad_con .card {
  border: none;
  border-radius: 0px;
}
.ad_con .ac {
  color: #5cb85c;
}

.ad_con .ex {
  color: #ff0000;
}

@media (max-width: 479px){
  .ad_con .title-section {
    font-size: 30px;
  }
}


/* ad_con_mana_quiz  */

.ad_con_quiz .ac {
  color: #5cb85c;
}
.ad_con_quiz .ex {
  color: #ff0000;
}

.ad_con_quiz .title-section {
  margin-top: 100px;
}

.ad_con_quiz .ad_con_cards .card{
  border: none;
}

.ad_con_quiz a ,
.ad_con_quiz button {
  border-radius: 0px;
}

.ad_con_quiz .modal-content {
  border-radius: 0px;
}



/* button disabled */

.sdf button:disabled,
button[disabled] {
  border-color: #ffdf6b;
  background-color: #ffdf6b;
  color: #666666;
}

/* Toast */
.toast {
  opacity: 0; 
  animation: fadeIn .3s  linear  forwards; 
}

@keyframes fadeIn { to { opacity: 1; } }




/* @media (max-width: 500px){
  .hero-header .intro-text {
    padding-top: 400px;
    padding-bottom: 200px;
  }
} */





up-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  height: 4px;
  background-color: #fff;
}

/* realworld styles */
.wrapper {
  outline: none;
}
