{% extends "base.html" %}
{% load static %}

{% block title %}{{category}}{% endblock title %}


{% block body %}

    <style>
        img {
            max-width:100%;
            height:auto;
        }

        iframe {
            max-width:100%;
            height:auto;
        }

    </style>

    <section class="page-section prog">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-5">
                    <h2 class="title-section">{{category}}</h2>
                    <div class="bordera mt-5"></div>
                </div>
            </div>
            {% if page_obj %}
                <div class="row">
                    {% for data in page_obj %}
                        {% if data.data_category.title or data.data_category.image %}
                            <div class="col-md-6 col-sm-12 col-lg-4 mt-5 d-flex align-items-stretch">
                                    <div class="card pt-3 px-3">
                                        {% if data.data_category.image %}
                                            <center><img src="{{ data.data_category.image.url }}" class="img-fluid "  alt="..."></center>
                                        {% endif %}
                                        {% if not data.data_category.image and not data.data_category.url_video %}
                                            <center><img class="img-fluid"  src="{% static 'img/logo2.jpeg' %}" alt="" /></center>
                                        {% endif %}
                                        {% if data.data_category.url_video %}
                                        <center><div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item " src="{{ data.data_category.url_video }}" style="width:415px; height:267px;" allowfullscreen></iframe>
                                            </div> </center>
                                        {% endif %}
                                        <div class="card-body">
                                            <h5 class="card-title mt-3 mb-3">{% if data.data_category.title %}{{data.data_category.title}}{% endif %}</h5>
                                            <p class="card-text">{{data.data_category.describe}}</p>
                                        </div>
                                        <p class="card-text mb-2 align-self-start"><small class="text-muted">{% if not data.data_category.title and not data.data_category.describe %}<center>{{data.data_category.created_in.date}}</center>{% else %}{{data.data_category.created_in.date}}{% endif %}</small></p>
                                    </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if page_obj.paginator.num_pages > 1 %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination mt-5">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo; الأول</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">سابق</a></li>
                        {% endif %}
                        <li class="page-item disabled"><a class="page-link" href="#">صفحة  {{ page_obj.number }} من {{ page_obj.paginator.num_pages }}</a></li>
        
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">التالي</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">الاخير &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
            {% else %}
            <center>
                <h1 style="color: #ffdf6b; font-size:35px;">قريباً...</h1>
                <img src="{% static 'img/332.svg' %}" class="col-10" alt="" srcset="">
            </center>
            {% endif %}
        </div>
    </section>

{% endblock %}